In [ ]:
# from IPython.utils.capture import capture_output

In [1]:
%load_ext pyopticon

Username:person

In [2]:
raise ValueError()

ValueError:

In [2]:
import matplotlib.pyplot as plt

In [3]:
print("abc")

In [4]:
12 + 23

35

In [5]:
fig = plt.figure(figsize=(8, 5))
plt.scatter([0, 1, 2], [2, 0, 1])
fig = plt.figure(figsize=(8, 5))
plt.scatter([0, 1, 2], [2, 1, 0])
None

In [7]:
%matplotlib?

In [8]:
%matplotlib -l

asdqw

In [9]:
import pandas as pd

In [10]:
pd.DataFrame({"x": [1,2,3]})

   x
0  1
1  2
2  3

In [11]:
raise ValueError()

ValueError: